RPC and Stuff/WCF Calculator/Lab4/WcfClient/Connected Services/ServiceReference1/MyCalculator.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/MyCalculator?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Numerics" />
  <xs:complexType name="PrimeNumbersResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Numerics" minOccurs="0" name="Count" type="q1:BigInteger" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Numerics" minOccurs="0" name="LargestPrime" type="q2:BigInteger" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrimeNumbersResult" nillable="true" type="tns:PrimeNumbersResult" />
</xs:schema>